.App__heading {
  margin: .5rem;
  text-align: center;
  font-size: 4rem;
}

.App__tries {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
}

.green {
  color: #58da58;
}

.orange {
  color: #eca32c;
}

.red {
  color: #d14545;
}

footer {
  color: #aaa;
  text-align: center;
}

a:link {
  color: #b844f1;
}

a:visited {
  color: #f0a000
}

@media only screen and (orientation: portrait) {
  .App__heading {
    font-size: 5rem;
    margin: 3rem 0;
  }

  .App__tries {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}