.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .9);
  color: #eee;
  cursor: pointer;
}

.Modal__message {
  font-size: 4rem;
}

.Modal__close {
  position: absolute;
  top: 2rem;
  right: 4rem;

  background: transparent;
  border: none;
  color: #eee;
  font-size: 3rem;
}