.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .9);
  color: #eee;
  z-index: 100;
}

.Modal__message {
  font-size: 4rem;
}

.Modal__close {
  position: absolute;
  top: 2rem;
  right: 4rem;

  background: transparent;
  border: none;
  color: #eee;
  cursor: pointer;
  font-size: 5rem;
}

.Modal__new-game {
  background-color: #771fc9;
  border: none;
  color: #eee;
  cursor: pointer;
  height: 5rem;
  width: 14rem;
  font-family: inherit;
  font-size: 2rem;
}

@media only screen and (max-width: 440px) {
  .Modal__message {
    text-align: center;
    font-size: 5rem;
  }
  .Modal__close {
    top: 1rem;
    right: 1rem;
  }
}