.Card {
  position: relative;
  perspective: 30rem;
  -moz-perspective: 30rem;
  transform-style: preserve-3d;
  width: 12rem;
  height: 12rem;
  cursor: pointer;
}

.Card__side {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  padding: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1.5rem rgb(0, 0, 0);
  transition: all .8s cubic-bezier(.25,-0.99,.81,1.97);
}

.Card__side--front {
  background-color: #771fc9;
  transform: rotateY(180deg);
}

.Card__side--back {
  background-color: #eca32c;
}

.Card__side--front.active  {
  transform: rotateY(0);
}

.Card__side--front.active + .Card__side--back {
  transform: rotateY(-180deg);
}

@media only screen and (max-width: 800px) {
  .Card {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 440px) {
  .Card {
    width: 8rem;
    height: 8rem;
  }
}